{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "testing": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
    }
  }
}
