:root {
  --sudoku-board-border-color: aqua;
  --bg-color-primary: rgb(50, 50, 50);
  --bg-color-secondary: rgb(30, 30, 30);
  --aquamarine: aquamarine;
  --aquamarine-dark: rgb(127, 255, 212, 0.7);
  --fs-primary: min(4vw, 4vh);
  --fs-secondary: min(3vw, 3vh);
  --cell-size: min(10vw, 7vh);
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 10vh 2vw 0 2vw;
  background-color: var(--bg-color-primary);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
button {
  font-family: Dosis;
}

.centered-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.center-text {
  text-align: center;
}
