#sudoku-board {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  border: min(0.15vw, 0.15vh) rgb(0, 130, 130) solid;
}

.row > .cell:nth-child(3),
.row > .cell:nth-child(6) {
  margin-right: min(0.45vw, 0.45vh);
  border-right: none;
}

.row:nth-child(3) > .cell,
.row:nth-child(6) > .cell {
  margin-bottom: min(0.5vw, 0.5vh);
  border-bottom: none;
}

.row {
  display: flex;
  font-size: var(--fs-primary);
  font-weight: 300;
}

.cell {
  background-color: var(--bg-color-primary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  height: var(--cell-size);
  width: var(--cell-size);
  border-right: min(0.15vw, 0.15vh) rgb(0, 130, 130) solid;
  border-bottom: min(0.15vw, 0.15vh) rgb(0, 130, 130) solid;
  color: rgb(200, 200, 200);
  font-weight: 300;
}

.cell div {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.row > .pencil-grid {
  font-size: min(1.9vw, 1.9vh);
}

.pencil-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.selected div {
  color: black;
}

.important {
  background-color: rgb(65, 65, 65);
}

.uneditable {
  color: var(--secondary-color);
}

.invalid {
  background-color: var(--secondary-color-dark);
}

.selected {
  background-color: var(--sudoku-board-border-color);
  font-weight: 400;
}
