.tools-section {
  margin-top: 3vh;
}

.tools-button {
  border-radius: min(5vw, 4vh);
  height: var(--cell-size);
  width: var(--cell-size);
  font-size: var(--fs-primary);
}

.button-margin {
  margin-right: 2vw;
}
